
.chapter {
    
    background-color: #151515ea;
    border: 1px solid #161616;
    padding: 20px;
    margin-bottom: 20px;
  }

  .chapter h1 {
    
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    background-color: wheat;
  }
  
 
  .Greeting {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  

  .Greeting h2 {
    font-size: 24px;
    font-weight: bold;
    color: #3b2424;
    margin: 0 0 20px 0;
  }
  
 
  .Greeting p {
    font-size: 16px;
    color: #4d4949;
    margin: 0 0 10px 0;
  }
  
  
  .Greeting span {
    color: orange;
    font-weight: bold;
    font-size: 25px;
  }
  

  #my-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  

  #my-button:hover {
    background-color: #3e8e41;
  }



  .Multiply {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  .Multiply h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .Multiply p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  .Multiply p span {
    color: orange;
    font-size: 25px;
    font-weight: bold;
  }
  
  .Multiply button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Multiply button:hover {
    background-color: #3e8e41;
  }
  
  .Multiply table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .Multiply table th {
    background-color: #4CAF50;
    color: white;
    font-weight: normal;
    padding: 10px;
    text-align: left;
  }
  
  .Multiply table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .Multiply table td:first-child {
    font-weight: bold;
  }
  
  .Result{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

  }
  .Result span {
    color: orange;
    font-weight: bold;
    font-size: 25px;
  }
  .Result strong {
    color: orangered;
    font-weight: bold;
    font-size: 25px;
  }

  .Marks {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  .Marks input[type="button"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .Marks h2 {
    font-size: 24px;
    margin-top: 0;
  }
  .result {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  .Marks span {
    color: orange;
    font-weight: bold;
    font-size: 25px;
  }
  
  .operator {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  .operator button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .operator h2 {
    font-size: 24px;
    margin-top: 0;
  }
  .operator output {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  .operator span {
    color: orange;
    font-weight: bold;
    font-size: 25px;
  }
  